/* Estilos para el formulario */
.Formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para los elementos FormGroup */
  .Formulario .form-group {
    margin-bottom: 20px; /* Aumenta el espacio entre las líneas */
  }
  
  /* Estilos para los botones dentro del formulario */
  .Formulario button {
    margin-top: 10px;
  }
  
  /* Estilos para el botón "Cancelar" */
  .Formulario button[color="error"] {
    background-color: #dc3545; /* Color rojo */
    color: #fff;
  }
  
  /* Estilos para el botón "Crear" */
  .Formulario button[type="submit"] {
    background-color: #007bff; /* Color azul */
    color: #fff;
  }
  
  