/* Estilos para el formulario */
.FormularioContenedor {
  max-width: 100%;
  margin: 0 0;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}
.form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
